.content-wrapper
  .content-inner-wrapper
    +make-container
    .row
      padding: 0 0 50px 0
      +min-width-sm
        padding: 0 0 50px 20px
      .headline
        font-size: 7vw
        +min-width-sm
          font-size: 40px
        +max-width-sm
          padding: 0 20px

      .small-headline
        font-size: 26px
        font-weight: normal
        margin-top: 20px
        +max-width-sm
          padding: 0 5px 0 10px

      .article
        margin: 0
        font-size: 20px
        +min-width-sm
          margin: 10px 10px 0 10px
        .text
          text-align: justify
          padding: 10px 15px 15px 15px
          +min-width-sm
            padding: 10px 30px 15px 15px
          max-width: 730px
          margin: 0
          padding-left: 10px
        ul
          list-style: none
          margin: 7px 0 0 0
          padding: 0 0 0 25px
          +max-width-sm
            margin-top: 0
            margin-bottom: 0
          li
            padding-bottom: 3px
            &:before
              content: '\00bb'
              +inline-block
              padding-right: 7px
              color: $page-color-gray-dark
              font-weight: bold

        .read-more
          color: $page-color-gray-dark
          font-size: 16px
          +right
          +max-width-sm
            padding-right: 30px
          a.green
            color: $page-color-green
    .row
      &.get-in-contact
        ul
          padding-top: 10px
          li
            +max-width-xs
              font-size: 5vw
            .mail
              +inline-block
              +max-width-xs
                +block
                padding-left: 10px

            .label
              +inline-block
              +min-width-sm
                min-width: 130px
      &.why-we-need-you
        +max-width-sm
          padding-bottom: 20px
        +min-width-sm
          padding-top: 10px
          padding-bottom: 30px

      &.why-i-should-do-this
        padding-bottom: 0
        +min-width-xs
          padding-bottom: 20px

        .text
          padding-bottom: 0

        .small-headline
          margin-top: 0
          padding-left: 40px
          +min-width-sm
            padding-left: 150px

      &.wanted
        padding-bottom: 20px
        .article
          color: $page-color-gray-dark
          background-color: #f6f6f6
          +box-shadow(0, 0, 15px, rgba(0,0,0,0.1))

          border-top: 1px solid $page-color-purple
          border-bottom: 1px solid $page-color-purple
          margin: 0 0 20px 0
          padding: 5px 0

          +min-width-sm
            border: 1px solid $page-color-purple
            border-radius: 15px
            padding: 15px 20px 20px 20px
            margin: 0 10px 30px 10px
          .text
            padding-bottom: 0
            padding-left: 10px
            line-height: 1.5
          .text, li, b, i
            font-size: 16px
            i
              color: $page-color-gray
          .small-headline
            margin: 0
            padding: 0
            +max-width-xs
              padding: 5px 0 0 0
              padding-left: 10px
            color: $page-color-purple
