.content-wrapper
  .content-inner-wrapper
    +make-container
    .row
      padding: 0 0 50px 20px
      .headline
        font-size: 40px

      .small-headline
        font-size: 26px
        color: $page-color-purple
        // $page-color-gray-dark
        font-weight: normal
        margin-top: 20px

      .article
        margin: 10px 10px 0 10px
        .text
          text-align: justify
          margin: 10px 30px 10px 15px
          max-width: 730px

        ul
          margin: 0
          padding-left: 40px
          li
            .label
              +inline-block
              min-width: 130px

        .read-more
          color: $page-color-gray-dark
          +right

    .row
      &.why-we-need-you
        padding-top: 20px
        padding-bottom: 30px

      &.why-i-should-do-this
        .second-headline
          text-align: right

      &.wanted
        .article
          border: 1px solid $page-color-purple
          border-radius: 15px
          padding: 15px 20px 20px 20px
          margin: 0 10px 30px 10px
          color: $page-color-gray-dark
          +box-shadow(0, 0, 15px, rgba(0,0,0,0.1))
          .small-headline
            margin: 0
