.footer
  margin-top: 40px
  background-color: $footer-background-color
  min-height: 280px
  +relative

  .footer-wrapper
    +make-container
    color: $footer-text-color
    padding: 20px 0
    height: 100%
    a, a:hover, a:active, a:focus
      color: $footer-link-color

    img.w3c
      margin: 10px auto
      +block

    .text
      margin: 20px

    .checks
      margin: 30px
      color: $page-color-green
      > *
        padding: 0 30px
        font-size: 14px

      a
        font-size: 14px

    .copyright
      +absolute
      text-align: center
      bottom: 10px
      left: 0
      right: 0
      width: 100%
      font-size: 14px
      a
        font-size: 14px
